<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{pendientes}}</strong> item left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li (click)="cambiarFiltro(filter)" *ngFor="let filter of filtros">
        <a [ngClass]="{'selected': selectedFilter === filter}" >{{ filter }}</a>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button (click)="clearAll()" class="clear-completed">Clear completed</button>
  </footer>
